{% extends "garbage/base css.html" %}

{% block content %}
<section id="pickup" class="ds page_contact parallax section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header with_icon">
                    Schedule Pickup
                </h2>
                <p class="small-text">For old equipment</p>

                <form method="POST" action="{% url 'request-pickup' pk=GC.id %}"> {% csrf_token %}


                    <div class="col-md-4">
                        <h4> Garbage Collector:</h4>
                        <div class="form-group">

                            <label for="pickup-name">
                                <!-- <span class="required">*</span> -->
                            </label>
                            <!-- <i class="fa fa-user highlight2" aria-hidden="true"></i> -->
                            <input type="text" aria-required="true" size="30" readonly value="{{GC.Name}}" name="name"
                                id="pickup-name" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select name="garbage_type">
                            <option selected>---Select Garbage Type---</option>
                            <option>Plastic Waste</option>
                            <option>Liquid Waste</option>
                            <option>Dry Waste</option>
                            <option>Green Waste</option>
                            <option>Electronic Waste</option>
                            <option>Medical Waste</option>
                            <option>Other Waste</option>
                        </select>
                        <!--  <div class="form-group">
                            <label for="pickup-phone">Phone Number
                                <span class="required">*</span>
                            </label>
                            <i class="fa fa-phone highlight2" aria-hidden="true"></i>
                            <input type="text" aria-required="true" size="30" value="" name="phone" id="pickup-phone"
                                class="form-control" placeholder="Phone Number">
                        </div> -->
                    </div>
                    <div class="col-md-4">
                        <h4> Phone number:</h4>
                        <div class="form-group">

                            <label for="pickup-name">
                                <!-- <span class="required">*</span> -->
                            </label>
                           <!--  <i class="fa fa-user highlight2" aria-hidden="true"></i> -->
                            <input type="text" aria-required="true" size="30"  id="pickup-name"
                                class="form-control" placeholder="Phone Number" name="phone">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4> Garbage Collector Area:</h4>
                        <div class="form-group">

                            <label for="pickup-name">
                                <!-- <span class="required">*</span> -->
                            </label>
                            <!--  <i class="fa fa-user highlight2" aria-hidden="true"></i> -->
                            <input type="text" aria-required="true" size="30" readonly value="{{GC.Location}}"
                                name="name" id="pickup-name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4> Specify Garbage:</h4>
                        <div class="form-group">

                            <label for="pickup-name">
                                <!-- <span class="required">*</span> -->
                            </label>
                            <!--  <i class="fa fa-user highlight2" aria-hidden="true"></i> -->
                            <input type="text" aria-required="true" size="30" value="" name="specify_garbage"
                                id="pickup-name" class="form-control" placeholder="Description">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Garbage Quantity:</h4>
                        <div class="form-group">

                            <label for="pickup-name">
                                <!-- <span class="required">*</span> -->
                            </label>
                            <!-- <i class="fa fa-user highlight2" aria-hidden="true"></i> -->
                            <input type="text" aria-required="true" size="30" value="" name="garbage_quantity"
                                id="pickup-name" class="form-control" placeholder="Quantity in KG (approx)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="form-group" style="left: 300px;">
                            <h4>Address:</h4>

                            <label for="pickup-name">
                                <!-- <span class="required">*</span> -->
                            </label>
                            <!-- <i class="fa fa-user highlight2" aria-hidden="true"></i> -->
                            <input type="text" aria-required="true" size="30" value="" name="address" id="pickup-name"
                                class="form-control" placeholder="Enter Your Pickup Address">
                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                        <div class="form-group select-group">
                            <label for="pickup-date">Date
                                <span class="required">*</span>
                            </label>
                            <i class="fa fa-calendar highlight2" aria-hidden="true"></i>
                            <select aria-required="true" id="pickup-date" name="date" class="choice empty form-control">
                                <option value="" disabled selected data-default>Date</option>
                                <option value="1306">13.06</option>
                                <option value="1406">14.06</option>
                                <option value="1506">15.06</option>
                                <option value="1606">16.06</option>
                                <option value="1706">17.06</option>
                                <option value="1806">18.06</option>
                                <option value="1906">19.06</option>
                                <option value="2006">20.06</option>
                            </select>
                            <i class="fa fa-angle-down theme_button" aria-hidden="true"></i>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-2">
                        <div class="form-group select-group">
                            <label for="pickup-time">Time
                                <span class="required">*</span>
                            </label>
                            <i class="fa fa-clock-o highlight2" aria-hidden="true"></i>
                            <select aria-required="true" id="pickup-time" name="time" class="choice empty form-control">
                                <option value="" disabled selected data-default>Time</option>
                                <option value="08am">8:00 AM</option>
                                <option value="09am">9:00 AM</option>
                                <option value="10am">10:00 AM</option>
                                <option value="11am">11:00 AM</option>
                                <option value="12am">12:00 PM</option>
                                <option value="13pm">13:00 PM</option>
                                <option value="14pm">14:00 PM</option>
                                <option value="15pm">15:00 PM</option>
                                <option value="16pm">16:00 PM</option>
                                <option value="17pm">17:00 PM</option>
                            </select>
                            <i class="fa fa-angle-down theme_button" aria-hidden="true"></i>
                        </div>
                    </div> -->
                    <!--  <div class="col-sm-12">

                        <div class="form-group">
                            <label for="pickup-message">Message</label>
                            <i class="fa fa-comment-o highlight2" aria-hidden="true"></i>
                            <textarea aria-required="true" rows="3" cols="45" name="message" id="pickup-message"
                                class="form-control" placeholder="Message"></textarea>
                        </div>
                    </div> -->
                    <br>
                    <div class="col-sm-12">

                        <div class="contact-form-submit topmargin_20">
                            <button type="submit" id="pickup-_submit" name="contact_submit"
                                class="theme_button color1">Schedule pickup</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}